section#about {
    background-color: #1e1a2a;
    box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.4);
    padding: 50px 0; /* Reduced padding for better mobile experience */
    opacity: 0;
    transition: opacity 0.3s linear;
}

section#about.visible {
    opacity: 1;
}

section#about h1 {
    text-align: left; /* Center the heading */
    font-size: 24px; /* Adjust font size for better readability */
}

section#about p {
    margin: 20px;
    padding: 0 20px; /* Added padding to the left and right for better mobile layout */
    line-height: 1.5rem; /* Adjusted line height for improved readability */
    font-size: 18px; /* Adjusted font size for better readability */
}

section#about p.hello-text::before {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background-color: rgb(246, 205, 164);
    margin-left: -60px;
    position: relative;
    top: 15px;
}
