@import 'globals';
@import 'header';
@import 'intro';
@import 'about';
@import 'skills';
@import 'portfolio';
@import 'experience';
@import 'contact';
@import 'footer';

/* styles/globals.scss */

/* Common styles for both desktop and mobile */

.grid-container {
    width: 100%;
    .column {
       width: 50%; // or whatever percentage you deem fit
    }
 }
 
 @media screen and (max-width: 600px){
   /* .container { */
       .container span {
       font-size: 50px;
   }    
}

@media screen and (max-width: 768px){
   /* .container { */
       .container span {
       font-size: 50px;
   }    
}